
@{
    Layout = null;
    string fun = ViewBag.fun;
    string pageId = ViewBag.pageId;
}

<script>
    $(document).ready(function () {
        var tree = $("#@(pageId)tree");

        var panel = $("#@(pageId)panel");

        $.getJSON("/api/ApiSysCatTree/getTreelist?fun=@fun", function (json) {
            tree.tree({
                data:json.result,
                animate: true,
                lines: true,
                onClick: function (node) {
                    var s = "?catTreeIds=" + node.id;
                    $.each(node.childrenIdList, function (i, n) {
                        s += "&catTreeIds=" + n;
                    });
                    panel.panel("refresh", "@Url.Action("docList", "ManagerWebDoc")" + s);
                }
            });
        });
    });
</script>

<div class="easyui-layout" data-options="fit:true">
    <div id="@(pageId)tree" data-options="region:'west',border:false,title:'类别',split:true,iconCls:'icon-more'" style="padding:5px; background:#fdfdfd; width:200px;">
        <div id="@(pageId)tree">
        </div>
    </div>
    <div data-options="region:'center',border:false,title:'信息列表'">
        <div id="@(pageId)panel" class="easyui-panel" data-options="fit:true,border:false"></div>
    </div>
</div>

