
@{
    Layout = null;
    string pageId = SysHelp.getNewId();
}
<div class="easyui-layout" data-options="fit:true,border:false">
    <div id="@(pageId)dd" class="easyui-dialog dialogwin" data-options="inline:true,resizable:false,modal:true,closed:true,title:'消息'" style="width:90%;height:90%">
    </div>
    <div data-options="region:'center',border:false">
        <div class="easyui-layout" data-options="fit:true,border:false">
            <div data-options="region:'center',border:false">
                <div class="easyui-panel" data-options="href:'@Url.Action("sysNotice","ManagerMsg",new { pageId=pageId})',title:'需处理',border:false" style="height:400px;"></div>
            </div>
            <div data-options="region:'east',split:true,border:false,collapsed:false,title:'消息/日志/通知',href:'@Url.Action("sysMsgList","ManagerMsg",new { pageId=pageId})'" style="width: 400px;"></div>
        </div>
    </div>
</div>
