
@{
    ViewBag.Title = "用户状态异常";
    Layout = "~/Areas/WxWeb/Views/Shared/Layout.cshtml";
}
<script>
    wx.ready(function () {
        console.log("wx is ready");
        wx.hideOptionMenu();//隐藏右上角菜单
    });
</script>
<h2>:(</h2>
<p>对不起您的用户状态异常，不能进行接下来的操作</p>

