
@{
    Layout = null;
    //后台界面使用  自动消息回复 的说明
}
<ul>
    <li>菜单的key值需要与菜单中的key值对应，否则不会起什么作用</li>
    <li>内容项为自动回复用户的文本信息，如果需要换行请使用\n</li>
    <li>如果要为关注时的自动回复消息 key 值请设置为 subscribe</li>
</ul>
