
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Areas/WxWeb/Content/css/weui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/WxWeb/Content/css/webstyle.css" />
    <script src="~/Areas/WxWeb/Scripts/publiccode.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
