<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- 管理员初始密码 123456 -->
  <add key="defaultPwd" value="e10adc3949ba59abbe56e057f20f883e"/>

  <!-- 百度开发者秘钥 -->
  <add key="Baidu_ak" value="w7TgjjNMbl8hzRd8r9IDdg7o"/>
  
  <!-- 后台文本编辑器可上传的文件大小 单位M  最大8M（如需修改请修改下方的maxRequestLength值） -->
  <add key="htmlEditFileMaxSize" value="2.5" />


  <!-- 微信  成都优翔 测试 -->
  <!--<add key="wxToken" value="wxcyclone"/>
  <add key="appId" value="wxd3f8f54904ec3e02"/>
  <add key="appSecret" value="500b5e71f0eec58675c8954c2944b622" />
  <add key="originalId" value="gh_c815762303c5"/>-->
  
  
  <!-- 微信  成都优翔 正式 -->
  
  <add key="wxToken" value="wxcyclone"/>
  <add key="appId" value="wx58477108352d4539"/>
  <add key="appSecret" value="915c43bce35fd328c397c8e52d423e2d" />
  <add key="originalId" value="gh_c815762303c5"/>
  
</appSettings>
